body {
    background-color: #2d2d2d;
}

.hbutton {
    background-color: #2d2d2d;
    color: white;
    border: none;
}

.hbutton:hover {
    text-decoration: underline;
}


.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.title {
    /*
    height: 92;
    width: 272;

    display: flex;
    justify-content: center;
    align-items: center;
        */
    padding-top: 250px;
}

.sbar {
    background-color: #2d2d2d;
    border-style: solid;
    border-color: white;
    border-width: 1px;
    border-radius: 25px;
    height: 40px;
    width: 500px;
    caret-color: white;
    
}